<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="52139krishnatejaperannaga.SuperHeroesWiki" Publisher="CN=1493878B-224F-4FA6-B2E9-FAC913BAB134" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Super Heroes Wiki</DisplayName>
    <PublisherDisplayName>krishna teja perannagari</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Super_Heroes_Wiki.App">
      <VisualElements DisplayName="SuperHeroesWiki" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Super Heroes Wiki is the collection of information about the most powerful and popular superheroes of the world.The list includes the heroes from Justice League,Dragon Ball series,Avengers,X Men series,Ben 10 series, Fantastic Four etc.The app also lists their powers,acheivements and other characteristics  that made them the protectors of the world" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="SHW" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>